In [1]:
import sys
import pandas as pd
from google.oauth2 import service_account  # Add this import
sys.path.append('..')

from src.mimicdf import MIMICDF

# Set up credentials (add this before creating MIMICDF instance)
credentials = service_account.Credentials.from_service_account_file(
    '/home/kasra/Development/config/copper-actor-403003-f084a282499a.json' 
)

# Create instance with credentials
df = MIMICDF(source='gcp', credentials=credentials)

Successfully connected to MIMIC-IV ED dataset

In [2]:
triage = df.triage()
triage.head()

Table loaded: triage

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint
0,10000980,31236252,97.2,<NA>,22.0,68.0,100.0,<NA>,0,1,Dyspnea
1,10001667,33673933,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,"Slurred speech, Transfer"
2,10001884,31306678,<NA>,<NA>,<NA>,79.0,<NA>,<NA>,<NA>,1,Hypoxia
3,10002428,33978784,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RESP ARREST
4,10002430,31293660,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,SOB

In [3]:
triage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425087 entries, 0 to 425086
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   subject_id      425087 non-null  Int64
 1   stay_id         425087 non-null  Int64
 2   temperature     401672 non-null  Float64
 3   heartrate       407997 non-null  Float64
 4   resprate        404734 non-null  Float64
 5   o2sat           404491 non-null  Float64
 6   sbp             406796 non-null  Float64
 7   dbp             405996 non-null  Float64
 8   pain            396973 non-null  Int64
 9   acuity          418100 non-null  Int64
 10  chiefcomplaint  425065 non-null  object
dtypes: Float64(6), Int64(4), object(1)
memory usage: 39.7+ MB

In [4]:
medrecon = df.medrecon()
medrecon.head()

Table loaded: medrecon

,subject_id,stay_id,charttime,name,gsn,ndc,etc_rn,etccode,etcdescription
0,10804747,34659593,2148-05-15 01:15:00,*ambesol,0,0,1,None,None
1,13454690,31256490,2175-02-07 22:18:00,*guaifenesin-codeine 10-100mg/5ml liquid,0,0,1,None,None
2,13869152,38476536,2179-02-02 13:39:00,*hormone patch,0,0,1,None,None
3,13870935,31682486,2182-05-16 21:29:00,*human insulin,0,0,1,None,None
4,15128117,32946094,2153-11-03 19:07:00,*diclofenac*,0,0,1,None,None